<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/okrs">Objectives & key results</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:simon.stead@coopdigital.co.uk">email</a></li>
	        		<li><a href="https://github.com/simonstead">github.com/simonstead</a></li>
				</ul>
			</footer>
		</body>
	</html>
